bidict==0.11.0
cloudpickle==0.2.1
cymem==1.31.2
decorator==4.0.10
h5py==2.6.0
mpi4py==2.0.0
murmurhash==0.26.4
networkx==1.11
numpy==1.11.0
plac==0.9.5
preshed==0.46.4
protobuf==3.0.0b2
semver==2.6.0
six==1.10.0
spacy==0.101.0
sputnik==0.9.3
tensorflow==0.9.0rc0
thinc==5.0.8
